<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4"></div>
    </div>

 <% if logged_in? %>

	<p> <strong>to the Course Information Thing!!</strong></p>
	<div id='nekojo'>
	<%= image_tag 'nekojo.jpg' %>
	</div>

<% else %>
<% end %>

</body>
